<h1>Editing condition</h1>

<%= render 'form' %>

<%= link_to 'Show', rule_condition_path(@rule, @condition) %> |
<%= link_to 'Index', rule_conditions_path %> |
<%= link_to 'Show rule', rule_conditions_path %> |
<%= link_to 'Edit rule', rule_conditions_path %>
