<h1>Listing rules</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Device discoverer</th>
      <th>Version discoverer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rules.each do |rule| %>
      <tr>
        <td><%= rule.value %></td>
        <td><%= rule.device_discoverer_id %></td>
        <td><%= rule.version_discoverer_id %></td>
        <td><%= link_to 'Show', rule %></td>
        <td><%= link_to 'Edit', edit_rule_path(rule) %></td>
        <td><%= link_to 'Destroy', rule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rule', new_rule_path %>
