<div class="search">
  <%= form_tag request.fullpath, :method => :get do %>
    <div class="file_title input-group" style="width:400px;">
      <%= text_field_tag :search, params[:search], :class => 'field form-control', :placeholder => "Search..." %>
      <span class="input-group-btn">
        <%= submit_tag "Search", :name => nil, :class => 'btn btn-primary' %>
      </span>
    </div>
   
    <% if @selected_fields.nil? %> 
    <%= link_to 'Advanced', 'javascript:void(0)', :id => 'advanced_select' %>
    <% end %>
    <div id="advanced_fields" style="<%= @selected_fields.nil? ? 'display:none' : '' %>">
      <label>Filter on :</label><br/>
      <%= select_tag :fields, options_for_select(@search_fields.collect {|f| [ f[:display], f[:field] ] }, :selected => @selected_fields), :multiple => true %> 
    </div>

  <% end %>
</div>


<script type="text/javascript">
  $('#advanced_select').click(function(){
    $('#advanced_fields').show();
    $('#advanced_select').hide();
  })
</script>
