<h1>Listing dhcp_fingerprints</h1>

<table>
  <thead>
    <tr>
      <th>DhcpFingerprint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dhcp_fingerprints.each do |dhcp_fingerprint| %>
      <tr>
        <td><%= dhcp_fingerprint.value %></td>
        <td><%= link_to 'Show', dhcp_fingerprint %></td>
        <td><%= link_to 'Edit', edit_dhcp_fingerprint_path(dhcp_fingerprint) %></td>
        <td><%= link_to 'Destroy', dhcp_fingerprint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New DhcpFingerprint', new_dhcp_fingerprint_path %>
