<h1>Listing dhcp_vendors</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dhcp_vendors.each do |dhcp_vendor| %>
      <tr>
        <td><%= dhcp_vendor.value %></td>
        <td><%= link_to 'Show', dhcp_vendor %></td>
        <td><%= link_to 'Edit', edit_dhcp_vendor_path(dhcp_vendor) %></td>
        <td><%= link_to 'Destroy', dhcp_vendor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dhcp vendor', new_dhcp_vendor_path %>
